.pagination {
  margin-top: 2vw;
  .pagination-item {
    height: 2vw;
    width: 2vw;
    font-size: 1.4vw;
    border-radius: 0.3vw;
    margin: 0.3vw;
    &:hover {
      cursor: pointer;
    }
  }

  .border-circle {
    border-radius: 0.3vw;
  }
}
