@import "../../style/variables";

.welcome {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2.5vw;
}

.home_news_title {
  display: flex;
  flex-direction: column;
  padding-left: 21.2vw;
  margin-top: 7vh;
}
.news_red_line {
  width: 12vw;
  height: 1.4vh;
  overflow: hidden;
  border-radius: 1vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.news_seemore {
  width: 10vw;
  padding: 0.8vw;
  background-color: $yellow;
  border-radius: 0.6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  &:hover {
    background-color: $blue;
    transition: all 0.4s;
    cursor: pointer !important;
  }
}
