.history_yellow_triangles {
  width: 60vw;
  display: flex;
  justify-content: space-evenly;
}
.history_single_triangle {
    width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.himnadrum_single {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  text-align: center;
}
.font-date{
    margin: 0;
    font-size: 2.8vw;
    margin-bottom: 0.5vw;
}
.font-himnadrum{
    margin: 0;
    margin-top: 0.8vw;
    font-size: 1.5vw;
}