$white: #ffffff;
$black: #252525;
$yellow: #eac601;
$red: #ca3b17;
$blue: #3352a0;

@font-face{
    font-family: 'boko-bold';
    src: url(../fonts/Bokonique-Bold.otf);
}
@font-face{
    font-family: 'boko-bold-italic';
    src: url(../fonts/Bokonique-Bold-Italic.otf);
}
@font-face{
    font-family: 'boko-light';
    src: url(../fonts/Bokonique-Light.otf);
}
@font-face{
    font-family: 'boko-light-italic';
    src: url(../fonts/Bokonique-Light-Italic.otf);
}
@font-face{
    font-family: 'boko-regular';
    src: url(../fonts/Bokonique-Regular.otf);
}
@font-face{
    font-family: 'boko-regular-italic';
    src: url(../fonts/Bokonique-Regular-Italic.otf);
}




