@import "../../style/variables";

.height-12 {
  height: 4vw;
}
.width-13 {
  width: 13vw;
}
.width-15 {
  width: 15vw;
}

.pt-24 {
  padding-top: 4vh;
  padding-left: 1vw;
  padding-right: 1vw;
}

.navigation {
  width: 87vw;
  display: flex;
  align-items: center;
  position: relative;

  ul {
    padding: 0;
    margin: 0;
    width: 72%;
    padding-left: 2vw;
    display: flex;
    height: 100%;

    li {
      list-style: none;
      font-size: 1.1vw;
      display: flex;
      align-items: center;
      font-weight: 500;
      height: 100%;
      padding-left: 3vw;
      text-transform: uppercase;
      transition: all 0.3s !important;
      color: $white;
      font-family: boko-regular;
      &:hover {
        font-weight: 700;
        cursor: pointer;
      }
    }
  }
}

.active {
  font-weight: 700;
}

%languages {
  font-size: 1vw;
  color: $white;
  font-family: boko-regular;
}

.armenian {
  @extend %languages;
  border-right: 2px solid $white;
  margin-right: 0.5vw;
  padding-right: 0.5vw;
  // margin-left: 2vw;
}
.english {
  @extend %languages;
}

.moving_triangle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 74%;

  pointer-events: none;
  display: none;
  transition: all 0.3s !important;
}

ul li:first-child:hover ~ .moving_triangle {
  left: 8.5%;
  display: flex;
}
ul li:nth-child(2):hover ~ .moving_triangle {
  left: 19%;
  display: flex;
}
ul li:nth-child(3):hover ~ .moving_triangle {
  left: 30%;
  display: flex;
}
ul li:nth-child(4):hover ~ .moving_triangle {
  display: flex;
  left: 42%;
}
ul li:nth-child(5):hover ~ .moving_triangle {
  display: flex;
  left: 57.5%;
}
ul li:nth-child(6):hover ~ .moving_triangle {
  left: 69.2%;
  display: flex;
}

.about_us_dropdown {
  position: absolute;
  display: none;
  justify-content: center;
  flex-direction: column;
  padding: 1vw;
  box-sizing: border-box;
  width: 16vw;
  height: 10vw;
  background-color: $red;
  z-index: 15;
  top: 88.5%;
  left: 12.5%;
}

.about_dropdown_text {
  color: $white;
  text-transform: capitalize;
  font-size: 1.15vw;
  margin: 0;
  margin-bottom: 0.2vw;
  font-family: boko-light;
}
a {
  text-decoration: none;
  color: inherit;
}

ul li:nth-child(2):hover .about_us_dropdown {
  display: flex;
  cursor: default;
}
.about_dropdown_text:hover {
  cursor: pointer;
  font-family: boko-regular;
}

.search-icon {
  font-size: 1.7vw;
  margin-left: 1vw;
  width: 2vw;
  color: $yellow;
  position: relative;
  display: flex;
  float: left;
}
.search_input {
  width: 0;
  box-sizing: border-box;
  margin-left: 0.5vw;
  opacity: 0;
  border: 0;
  border-bottom: 0.1vw solid $white;
  color: $white;
  outline: none;

  background-color: transparent;
}

.search_input:focus {
  width: 10vw;
  opacity: 1;
}
.search-icon:hover .search_input {
  opacity: 1;
  transition: all 0.3s ease-in-out;

  width: 10vw;
}
