.mt-12 {
  margin-top: 12vh;
}
.mt-7{
  margin-top: 7vh;
}
.w-4{
  width: 2.5vw;
}
.footer {
  height: 42vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #252525;
}
.red{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -3%;
  

}
.footer_red_line{
  width: 60vw;
  height: 1.5vh;
  background-color: #ca3b17;  
  border-radius: 1vw;
}
.footer_red_triangle {
  width: 0.1vw;
  height: 0.7vh;
  border-left: 0.9vw solid transparent;
  border-right: 0.9vw solid transparent;
  border-top: 0.9vw solid #ca3b17;
}
