@import '../../style/variables';

.height-12 {
  height: 5vw;
}
.width-13 {
  width: 13vw;
}
.width-15 {
  width: 15vw;
}

.pt-24 {
  padding-top: 4vh;
  padding-left: 1vw;
  padding-right: 1vw;
}

.navigation {
  width: 87vw;
  display: flex;
  align-items: center;
  position: relative;

  ul {
    padding: 0;
    margin: 0;
    width: 75%;
    padding-left: 2vw;
    display: flex;
    height: 100%;

    li {
      list-style: none;
      font-size: 1.2vw;
      display: flex;
      align-items: center;
      font-weight: 500;
      height: 100%;
      padding-left: 3vw;
      text-transform: uppercase;
      transition: all 0.3s !important;
      color: $white;
      font-family: boko-regular;
      &:hover {
        font-weight: 700;
        cursor: pointer;
      }
    }
  }
}

%languages {
  font-size: 1.2vw;
  color: $white;
  font-family: boko-regular;
}

.armenian {
  @extend %languages;
  border-right: 2px solid $white;
  margin-right: 0.5vw;
  padding-right: 0.5vw;
  margin-left: 2vw;
}
.english {
  @extend %languages;
}

.moving_triangle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 74%;
  left: 6%;
  display: none;
  transition: all 0.3s !important;
}

ul li:first-child ~ .moving_triangle {
  left: 8.5%;
  display: flex;
}
ul li:nth-child(2):hover ~ .moving_triangle {
  left: 19.5%;
  display: flex;
}
ul li:nth-child(3):hover ~ .moving_triangle {
  left: 31.5%;
  display: flex;
}
ul li:nth-child(4):hover ~ .moving_triangle {
  display: flex;
  left: 44.5%;
}
ul li:nth-child(5):hover ~ .moving_triangle {
  display: flex;
  left: 61%;
}
ul li:nth-child(6):hover ~ .moving_triangle {
  left: 73.5%;
  display: flex;
}


.about_us_dropdown{
  position: absolute;
  display: none;
  justify-content: center;
  flex-direction: column;
  padding: 1vw;
  box-sizing: border-box;
  width: 14vw;
  height: 10vw;
  background-color: $red;
  z-index: 15;
  top: 89%;
  left: 12.5%;
}

.about_dropdown_text{
  color: $white;
  text-transform: capitalize;
  font-size: 1.15vw;
  margin: 0;
  margin-bottom: 0.2vw;
  font-family: boko-light;
}
a{
  text-decoration: none;

}
a:visited{
  color: inherit;
}

ul li:nth-child(2):hover .about_us_dropdown{
  display: flex;
  cursor: default;
}
.about_dropdown_text:hover{
  cursor: pointer;
  font-family: boko-regular;
 
 
}
