.welcome {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5vh;
}
.home_red_line {
  width: 29vw;
  height: 1.4vh;
  overflow: hidden;
  border-radius: 1vw;
  margin-top: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_red_triangle {
  width: 2vw;
  display: flex;
  justify-content: center;
  margin-top: -0.35vh;
  transform: rotateX(180deg);
}
.information_umcor {
  width: 54vw;
  margin-top: 5vh;
  padding: 1vw;
  text-align: center;
  letter-spacing: 0.07em;
  border: 0.3vw dashed #eac601;
}

.home_news_title {
  display: flex;
  flex-direction: column;
  padding-left: 21.2vw;
  margin-top: 7vh;
}
.news_red_line {
  width: 12vw;
  height: 1.4vh;
  overflow: hidden;
  border-radius: 1vw;
 
  display: flex;
  align-items: center;
  justify-content: center;
}


.news_seemore{
    padding: 0.8vw;
    background-color: #eac601;
    border-radius: 0.6vw;
    position: absolute;
    top: 50vh;

}