@import "../../style/variables";

.welcome {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5vh;
}

.information_umcor {
  width: 54vw;
  margin-top: 5vh;
  padding: 1vw;
  text-align: center;
  letter-spacing: 0.07em;
  border: 0.3vw dashed #eac601;
}

.home_news_title {
  display: flex;
  flex-direction: column;
  padding-left: 21.2vw;
  margin-top: 7vh;
}
.news_red_line {
  width: 12vw;
  height: 1.4vh;
  overflow: hidden;
  border-radius: 1vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.news_seemore {
  padding: 0.8vw;
  background-color: $yellow;
  border-radius: 0.6vw;
  transition: all 0.4s;
  &:hover{
    background-color: $blue;
    transition: all 0.4s;
    cursor: pointer;
  }
}
