@import "../../style/variables";

.slider {
  width: 100%;
  position: relative;
  height: 34vw;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}
.slide {
  min-width: 100vw;
  height: 100%;
  position: relative;
  transition: 0.5s;
  opacity: 0.9;
}

%btn-styles {
  position: absolute;
  height: 70vh;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-size: 3vw;
  color: white;
  &:hover {
    cursor: pointer;
  }
}

.slide-button-left {
  @extend %btn-styles;
  left: 0;
}
.slide-button-right {
  @extend %btn-styles;
  right: 0;
}

.slider_bottom_line {
  position: absolute;
  width: 100vw;
  height: 43.5vw;

  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.future_image {
  width: 35vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
}

.slider_dots {
  display: flex;
  width: 10vw;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}
.dot_active {
  background-color: $red !important;
}
